div 
    h2(style="color:crimson;") Historial
    br
    if DB_PRODUCTOS.length > 0
        div(class="table-responsive")
            table(class="table table-dark")
                tr(style="color: yellow;")
                    th Nombre 
                    th Precio 
                    th Imagen 
                each producto in DB_PRODUCTOS
                    tr
                        td=producto.title
                        td=producto.price
                        td 
                            img(src=producto.thumbnail width="30")
    else 
        h3(class="alert alert-warning") No hay productos